/* #mobileHelper@common */

/*===================================================================================================================*/
/*                                                      Theme                                                        */
/*===================================================================================================================*/
.theme-mobileHelp-contentArea { width: fit-content; margin: 0 auto;}

/*===================================================================================================================*/
/*                                                      Layout                                                       */
/*===================================================================================================================*/
/*.lay-are-pageContent { padding: 20px 0;}*/

/*===================================================================================================================*/
/*                                                       main                                                        */
/*===================================================================================================================*/
/* .reg-main > */

.blk-content-01 { display: inline-block;width: 530px;margin: 20px auto;}

.bg-mobile { float: left; width: 233px; height: 520px; background: no-repeat; margin-right: 50px;}

.bg-mobile { float: left; width: 233px; height: 520px;  background: no-repeat; margin-right: 50px;}
.bg-mobile-03-1 { background-image: url(../images/mobile/mobileHelp3-01.jpg); margin: 0 40px 0 0px;}
.bg-mobile-03-2 { background-image: url(../images/mobile/mobileHelp3-02.jpg); margin: 0 40px 40px 0;}
.bg-mobile-03-3 { background-image: url(../images/mobile/mobileHelp3-03.jpg); margin: 0 40px 40px 0;}
.bg-mobile-03-4 { background-image: url(../images/mobile/mobileHelp3-04.jpg); margin: 0 40px 40px 0;}
.bg-mobile-03-5 { width: 493px; background-image: url(../images/mobile/mobileHelp3-05.png); margin: 0 40px 40px 0;}
.bg-mobile-03-6 { width: 493px; background-image: url(../images/mobile/mobileHelp3-06.png); margin: 0 40px 40px 0;}
.bg-mobile-03-7 { background-image: url(../images/mobile/mobileHelp3-07.jpg); margin: 0 40px 40px 0;}
.bg-mobile-03-8 { background-image: url(../images/mobile/mobileHelp3-08.jpg); margin: 0 40px 40px 0;}


/* .reg-main > */
.blk-content-01 { display: inline-block;width: 530px;margin: 20px auto;}
.panel-mobile-desc {}

/*.panel-mobile-desc { /*float: left; width: 100%; margin-left: 15px; font-size: 16px;}
.panel-mobile-desc h4, .panel-mobile-desc p { margin: 10px 0; }
.panel-mobile-desc p { margin-left: 15px; }*/
