/* #mobileHelper@common */

/*===================================================================================================================*/
/*                                                      Theme                                                        */
/*===================================================================================================================*/
.theme-mobileHelp-contents { width: 520px; margin: 0 auto;}

/*===================================================================================================================*/
/*                                                      Layout                                                       */
/*===================================================================================================================*/
.lay-are-pageContent { padding: 20px 0;}

/*===================================================================================================================*/
/*                                                       main                                                        */
/*===================================================================================================================*/
.reg-main { background-image: url(imgs/main/mainBg9.jpg); background-repeat: no-repeat;}
/* .reg-main > */
.blk-content-01 {}
.blk-content-02 {}
.blk-content-03 {}
.blk-content-04 {}
.txt-mobileDesc-02 {}
.bg-mobile { float: left; width: 237px; height: 417px; background: no-repeat; margin-right: 50px;}
.bg-mobile-01 { background-image: url(imgs/mobile/mobileHelp2-01.jpg);}
.bg-mobile-02 { float: none; width: 100%; height: 417px; background: url(imgs/mobile/mobileHelp2-02.png) no-repeat center; margin-right: 0;}
.bg-mobile-03 { background-image: url(imgs/mobile/mobileHelp2-03.jpg);}
.bg-mobile-04 { background-image: url(imgs/mobile/mobileHelp2-04.jpg);}

/*===================================================================================================================*/
/*                                                       Hack                                                        */
/*===================================================================================================================*/
