/* #mobileHelper@common */

/*===================================================================================================================*/
/*                                                      Theme                                                        */
/*===================================================================================================================*/
.theme-mobileHelp-contentArea { width: fit-content; margin: 0 auto;}

/*===================================================================================================================*/
/*                                                      Layout                                                       */
/*===================================================================================================================*/
/*.lay-are-pageContent { padding: 20px 0;}*/

/*===================================================================================================================*/
/*                                                       main                                                        */
/*===================================================================================================================*/
/* .reg-main > */
/* .reg-main > */
.blk-content-01 { display: inline-block;width: 530px;margin: 20px auto;}

.bg-mobile { float: left; width: 233px; height: 412px; background: no-repeat; margin-right: 50px;}
.bg-mobile-01 { background-image: url(../images/mobile/mobileHelp1-01.jpg);}
.panel-mobile-desc {}

/*.panel-mobile-desc { /*float: left; width: 100%; margin-left: 15px; font-size: 16px;}
.panel-mobile-desc h4, .panel-mobile-desc p { margin: 10px 0; }
.panel-mobile-desc p { margin-left: 15px; }*/

/*===================================================================================================================*/
/*                                                       Hack                                                        */
/*===================================================================================================================*/
