/* #mobileHelper5@common */

/*===================================================================================================================*/
/*                                                      Layout                                                       */
/*===================================================================================================================*/
.lay-are-pageContent { padding: 20px 0;}

/*===================================================================================================================*/
/*                                                       main                                                        */
/*===================================================================================================================*/
.reg-main { background-image: url(imgs/main/mainBg9.jpg); background-repeat: no-repeat;}
/* .reg-main > */
.blk-content-01 { width: 810px; margin: 25px auto 0;}
.bg-mobile-01 { float: left; width: 494px; height: 412px; background: url(imgs/mobile/mobileHelp5-01.png) no-repeat; margin: 0 25px;}
.panel-mobile-desc { float: left; width: 255px;}
.txt-mobile-desc { min-height: 1em;}

/*===================================================================================================================*/
/*                                                       Hack                                                        */
/*===================================================================================================================*/
