/* #mobileHelper6@common */

/*===================================================================================================================*/
/*                                                      Layout                                                       */
/*===================================================================================================================*/
.lay-are-pageContent { padding: 20px 0;}

/*===================================================================================================================*/
/*                                                       main                                                        */
/*===================================================================================================================*/
.reg-main { background-image: url(imgs/main/mainBg9.jpg); background-repeat: no-repeat;}
/* .reg-main > */
.blk-content-01 { width: 737px; margin: 0 auto;}
.txt-mobileDesc-01 { text-align: right; }
.bg-mobile-01 { height: 417px; background: url(imgs/mobile/mobileHelp6-01.png) no-repeat center;}

/*===================================================================================================================*/
/*                                                       Hack                                                        */
/*===================================================================================================================*/
