/* mobileHel-index */

.blk-content-01 { margin-top: 20px; position: relative;}

.bg-mobile { height: 457px; background: url(../images/mobile/mobileHelp-01.png) no-repeat;}
.panel-mobile-desc { width: 185px; position: absolute; top: 30px; right: 0;}
.h4-mobile-title { margin: 0;}
.txt-mobile-desc { margin: 0;}