/* #mobileHelper4@common */

/*===================================================================================================================*/
/*                                                      Layout                                                       */
/*===================================================================================================================*/
.lay-are-pageContent { padding: 20px 0;}

/*===================================================================================================================*/
/*                                                       main                                                        */
/*===================================================================================================================*/
/* .reg-main > */

.blk-content-01 { width: 625px; }

.txt-mobileDesc-01 {}
.bg-mobile-04 { width: 100%; height: 450px; background: url(../images/mobile/mobileHelp4-01.png) no-repeat center;}



/*===================================================================================================================*/
/*                                                       Hack                                                        */
/*===================================================================================================================*/
