/* #mobileHelper@common */

/*===================================================================================================================*/
/*                                                      Theme                                                        */
/*===================================================================================================================*/
.theme-mobileHelp-contentArea { width: fit-content; margin: 0 auto;}

/*===================================================================================================================*/
/*                                                      Layout                                                       */
/*===================================================================================================================*/
/*.lay-are-pageContent { padding: 20px 0;}
*/
/*===================================================================================================================*/
/*                                                       main                                                        */
/*===================================================================================================================*/
/* .reg-main > */
.blk-content-01 { width: 875px; }
.blk-content-02 { width: 695px; }
.blk-content-03 { width: 649px; }
.blk-content-04 { width: 625px; }
.bg-mobile { float: left; width: 233px; height: 412px; background: no-repeat; margin: 0 40px 0 0;}
.bg-mobile-01 { background-image: url(../images/mobile/mobileHelp1-01.jpg);}
.bg-mobile-02 { background-image: url(../images/mobile/mobileHelp1-02.jpg);}
.bg-mobile-03 { background-image: url(../images/mobile/mobileHelp1-03.jpg);}
.bg-mobile-04 { background-image: url(../images/mobile/mobileHelp1-04.jpg);}
.panel-mobile-desc { /*float: left; width: 95%;*/ margin-left: 30px; font-size: 16px;}
.panel-mobile-desc h4, .panel-mobile-desc p { margin: 10px 0; }
/*.panel-mobile-desc p { margin-left: 15px; }*/

