/* #noSupport@common */

/*===================================================================================================================*/
/*                                                    No Support                                                     */
/*===================================================================================================================*/
.reg-noSupport { display: none; position: absolute; background: #fff; color: #000; width: 665px; }
/* reg-noSupport > */
.are-noSupport { text-align: center; padding: 0 20px;}
/* reg-noSupport > are-noSupport > */
.are-noSupport h2 { padding-top: 20px; font-weight: normal;}
.are-noSupport h3 { padding: 5px 0; font-weight: normal;}
.are-noSupport p { padding: 5px 0; border-top: 1px solid #ccc;}
.ul-brower { width: 440px; margin: 0 auto;}
.ul-brower li { float: left; margin: 0 5px;}
.ul-brower li a { display: block; width: 100px; padding-top: 100px; margin-bottom: 5px;background: no-repeat top; }
.ul-brower li a:hover { color: #000;}
.ul-brower li .lnk-chrome { background-image: url(../images/noSupport/chrome.jpg);}
.ul-brower li .lnk-ie { background-image: url(../images/noSupport/ie.jpg);}
.ul-brower li .lnk-firefox { background-image: url(../images/noSupport/firefox.jpg);}
.ul-brower li .lnk-360 { background-image: url(../images/noSupport/360.jpg);}
.are-noSupport .cpn-clear-both { margin-bottom: 5px; border-top:  1px solid #ccc;}
.lnk-noSupport-close { display: block; width:140px; margin: 10px auto; padding: 10px; background: #900307; color: #fff; font-size: 15px; line-height: 1.8;}